@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root{
  --orange: rgb(233, 117, 21);
  --gradient-orange:linear-gradient(168deg, rgba(255,133,2,1) 33%, rgba(255,0,224,1) 100%);

  --title-1:Nerko One;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* composant Title avec son h2 */

h2{
  text-transform: uppercase;
  color:#fff;
  font-family: var(--title-1);
  position: absolute;
  transform: rotate(-90deg);
  top:40%;
  left: 32%;
  letter-spacing: 0.5rem;
}

@media  screen and (min-width:280px) and (max-width:991px) {

  *{
    overflow-x: hidden;
    }

  h2{
    position: static;
    transform: rotate(0deg);
  }
}
@media screen and (max-width:3000px){
  h2{
    top:50%;
  }
}

